*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

header{
    height: 50px;
    text-align: center;
    background-color: #ff6145;
    padding-top: 10px;
}
form{
    font-size: 16px;
    line-height: 50px;
    margin-top: 30px;
    align-self: center;
}

div{
    display: flex;
}

label{
    text-align: right;
    width: 35%;
    margin-right: 2%;
}
input{
    margin-top: 10px;
    width: 40%;
    height: 25px;padding:0px 10px;
}
output{
    margin-left: 10px;
}
button{
    margin-top: 7px;
    width: 500px;
    padding: 5px;
    margin-left: 33%;
}
error-output{
    margin-left: 1%;
    font-size: 16px;
    font-style: italic;
    color: red;
}