*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

header{
    height: 50px;
    text-align: center;
    background-color: #ff6145;
    padding-top: 10px;
}
form{
    font-size: 16px;
    line-height: 50px;
    margin-top: 30px;
    align-self: center;
}

div{
    display: flex;
}

label{
    text-align: right;
    width: 35%;
    margin-right: 2%;
}
input{
    margin-top: 10px;
    width: 40%;
    height: 25px;padding:0px 10px;
}
output{
    margin-left: 10px;
}
button{
    margin-top: 7px;
    width:40%;
    margin-left: 30%;
    padding: 5px;
}
error-output{
    margin-left: 1%;
    font-size: 16px;
    font-style: italic;
    color: red;
}

@media screen and (max-width:320px)  {
  
header{
    font-size: 12px;
    padding: 20px;

}   

label{
   font-size: 12px;
   width:55% ;
}

output{
    font-size: 12px;
}

input{
    font-size: 12px;
    width:25% ;
}
    
error-output{
    
    font-size: 12px;
}
}